.footer{
    background-color: #222;
    color: white;
    padding: 1em;
    text-align: center;
}

.socialList{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.socialList li{
    margin: 0 1em;
}

.socialList li:hover{
    color: #ffbb33;
    transition: color .2s;
}

.socialList svg{
    font-size: 2em;
    cursor: pointer;
    margin-bottom: 10px;
}

span{
    font-weight: bold;
    color: #ffbb33;
}

