.btn {
    background-color: #222;
    color: #fff;
    padding: 0.5m 1em;
    text-decoration: none;
    transition: .2s;
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s all;
}

.btn:hover {
    background-color: #ffbb33;
}